#wall > .tag-1 {
  display: none;
}

div#wall #tag-2 {
  display: none;
}

div#wall #tag-3 {
  display: none;
}

div#wall #tag-4 {
  display: none;
}

div#wall div.parent #tag-5.slick {
  display: none;
}

div#wall div.parent div + div:last-child div#tag-6 {
  display: none;
}

div#wall div.parent div:first-child>#tag-7.slick {
  display: none;
}